/*Bootstrap button outline override*/

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-md {
  width: 40px;
  height: 40px;
  padding: 8px 8px;
  font-size: 16px;
  color: white;
  line-height: 1.33;
  border-radius: 20px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}

.row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0px auto;
  padding: 20px 0px;
  border-bottom: 1px ridge;
  min-height: 30px;
}
.row-week-days {
  margin: 0px auto;
  padding: 20px 0px;
  min-height: 10px;
}
.row-home-button {
  margin: 0px auto;
  padding: 20px 0px;
  min-height: 50px;
}
.row-change-week {
  margin: 0px auto;
  padding: 10px;
  min-height: 10px;
}
.row-habit {
  margin: 0px auto;
  padding: 10px 0px;
  border-bottom: 1px ridge;
  min-height: 30px;
}
.special-day {
  color: #ff884d;
}
.isdone {
  color: green;
}
.isnotdone {
  color: red;
}

ul {
    padding: 0;
    list-style-type: none;
}
.cliente {
    margin-top:10px;
    border: #cdcdcd medium solid;
    border-radius: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.row-no-padding {
  margin: 0px auto;
  padding: 0px 0px;
  border-bottom: 1px ridge;
  min-height: 50px;
}
.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #AfAfAf;
}
.navbar-inverse {
  background: #0066cc;
  color: #ffffff;
}
.navbar-text{
  color: white;
  font-weight: bold;
}
.navbar-inverse .navbar-nav > .active > a {
  background: #004d99;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:hover {
  background: #004d99;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .active > a:focus {
  background: #004d99;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a {
  background: #004d99;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:hover {
  background: #004d99;
  color: #ffffff;
}
.navbar-inverse .navbar-nav > .open > a:focus {
  background: #004d99;
  color: #ffffff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
  background-color: #303f9f;
  color: #eeeeee;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #000000;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #303f9f;
  color: #eeeeee;
}
address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#monthIndicator {
  color: #ff884d;
  font-size: 200%;
}

#listOfHabits {
  list-style-type: none;
}

h3 {
  padding: 0px;
  margin: 0px;
}

