    <div class="ngdialog-message">
        <div class="">
            <h3>Add new habit </h3>
        </div>
        <div class="">&nbsp;</div>
        <div class="">
            <form ng-submit="addNewHabit()">
                <div class="form-group">
                    <label for="habitname">Habit name</label>
                    <input type="text" class="form-control input-sm" id="habitname" placeholder="Name your new habit" ng-model="newHabit.name">
                </div>
                <div class="form-group">
                    <label for="category">Category</label>
                    <input type="text" class="form-control input-sm" id="category" placeholder="Category" ng-model="newHabit.category">
                </div>

                <button type="submit" class="btn btn-info btn-sm">add habit</button>
                <button type="button" class="btn btn-default btn-sm" ng-click=closeThisDialog("Cancel")>Cancel</button> &nbsp; &nbsp;
            </form>
        </div>
        <div>

        </div>
    </div>
