
<div class="container">
    <div class="jumbotron">
        <h1 class="text-center">True Habit</h1>
    </div>
    <div class="row row-home-button">
        <div class="col-sm-offset-5 col-sm-2 text-center">
                
                <button 
                    type="button" 
                    class="btn btn-block center-block"
                    ng-click="openLogin()">
                    Login
                </button>
        </div>
    </div>
    <div class="row row-home-button">
        <div class="col-sm-offset-5 col-sm-2 text-center">
                <button 
                type="button" 
                class="btn btn-block center-block"
                ui-sref="app.dashboard">
                Register
                </button>
        </div>
    </div>
</div>