
<div class="container">
    <div class="row row-content">
        <div class="col-xs-12 col-sm-8">
            <div class="card">
                <!-- Main card block -start-  with the habits and dates -->
                <div class="card-block">
                    <div class="row row-content">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-secondary" ng-click="openAddHabit()">
                            <span class="glyphicon glyphicon-plus"
                         aria-hidden="true"></span>
                         add new habit
                            </button>
                        </div>
                        <div class="col-sm-12">
                            <p id="monthIndicator"> {{viewDate | date: 'MMM yyyy'}} </p>
                        </div>
                    </div>


                    <div class="row row-content">
                        <div class="col-xs-9">
                            <div class="row row-content">
                                <div class="col-xs-12">

                                </div>
                                <div class="col-xs-4">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            
                                        </div> <!-- this column empty -->
                                        <div class="col-xs-4 text-center" ng-class="{'special-day': isItToday(0) }"> M </div>
                                        <div class="col-xs-4 text-center" ng-class="{'special-day': isItToday(1) }"> T </div>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(2) }"> W </div>
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(3) }"> T </div>
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(4) }"> F </div>
                                        <!-- <div class="col-xs-2 text-center" ng-class="{'special-day': {{isSaturday}} }"> S </ -->
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(5) }"> S</div>
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(6) }"> S </div>
                                        <div class="col-xs-2"></div> <!-- this column empty -->
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="row">
                                        <div class="col-xs-4"></div> <!-- this column empty -->
                                        <div class="col-xs-4 text-center" ng-class="{'special-day': isItToday(0) }"> {{dayArray[0]}} </div>
                                        <div class="col-xs-4 text-center" ng-class="{'special-day': isItToday(1) }"> {{dayArray[1]}} </div>
                                    </div>
                                </div>

                                <div class="col-xs-8">
                                    <div class="row">
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(2) }"> {{dayArray[2]}} </div>
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(3) }"> {{dayArray[3]}} </div>
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(4) }"> {{dayArray[4]}} </div>
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(5) }"> {{dayArray[5]}} </div>
                                        <div class="col-xs-2 text-center" ng-class="{'special-day': isItToday(6) }"> {{dayArray[6]}} </div>
                                        <div class="col-xs-2"></div> <!-- this column empty -->
                                    </div>
                                </div>
                            </div>
                            
                            <div class="row">

                            <ul>
                                <li id="listOfHabits"ng-repeat="habit in allhabits">
                                    <div class="row row-habit">
                                        <div class="col-xs-3">
                                            <button type="button" class="btn btn-xs btn-secondary" ng-click="removeHabit(habit._id)">
                                            <span class="glyphicon glyphicon-trash"
                                            aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-xs btn-secondary" ng-click="reinitializeHabit()">
                                            <span class="glyphicon glyphicon-remove-circle"
                                            aria-hidden="true"></span>
                                            </button>
                                        </div>
                                        <div class="col-xs-9">
                                            <h3 id="habitNameTitle">{{habit.name}}</h3>
                                        </div>
                                    
                                    <div class="col-xs-4">
                                        <div class="row">
                                            <div class="col-xs-4"></div> <!-- this column empty -->
                                            <div class="col-xs-4 text-center">
                                                <button type="button" class="btn btn-xs btn-outline" ng-class="{'habit-done': isDayPerformed(0) }" ng-click="switchState(habit._id, 0)">10
                                                </button>
                                            </div>
                                            <div class="col-xs-4 text-center">
                                                <button type="button" class="btn btn-xs btn-outline" ng-class="{'habit-done': isDayPerformed(1) }" ng-click="switchState(habit._id, 1)">10
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xs-8">
                                        <div class="row">
                                            <div class="col-xs-2 text-center">
                                                <button type="button" class="btn btn-xs btn-outline" ng-class="{'habit-done': isDayPerformed(2) }" ng-click="switchState(habit._id, 2)">10
                                                </button>
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <button type="button" class="btn btn-xs btn-outline" ng-class="{'habit-done': isDayPerformed(3) }" ng-click="switchState(habit._id, 3)">10
                                                </button>
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <button type="button" class="btn btn-xs btn-outline" ng-class="{'habit-done': isDayPerformed(4) }" ng-click="switchState(habit._id, 4)">10
                                                </button>
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <button type="button" class="btn btn-xs btn-outline" ng-class="{'habit-done': isDayPerformed(5) }" ng-click="switchState(habit._id, 5)">10
                                                </button>
                                            </div>
                                            <div class="col-xs-2 text-center">
                                                <button type="button" class="btn btn-xs btn-outline" ng-class="{'habit-done': isDayPerformed(6) }" ng-click="switchState(habit._id, 6)">10
                                                </button>
                                            </div>
                                            <div class="col-xs-2"></div> <!-- this column empty -->
                                        </div>
                                    </div>

                                    </div>
                                </li>
                            </ul>

                            </div>


                        </div>
                        <div class="col-xs-3">
                        un peu de texte la
                        </div>  
                    </div>                    

                </div>
                <!-- Main card block -end -->
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="card">
                <div class="card-block">
                    This is the card block with the score and streak
                </div>
            </div>
        </div>

    </div>

</div>
