
<div class="container">
    <div class="row">
        <div class="col-xs-12">
           <ul class="breadcrumb">
               <li><a href="index.html">Home</a></li>
               <li class="active">My Account</li>
           </ul>
        </div>
        <div class="col-xs-12">
           <h3>My Info</h3>
           <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
          <p>{{username}}</p>
        </div>
    </div>
    <div class="row row-content">
      {{myDataSource}}
    </div>

</div>
